.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1440px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .container{
    width: 425px;
    overflow: hidden;
    flex-direction: column;
    padding: 0 15px;
  }
}